.container {
  width: 1743px;
  margin-left: auto;
  margin-right: auto;
}

.links {
  border: 1px solid;
  text-align: center;
  border-radius: 30px;
  display: inline;
  margin-left: 390px;
  padding: 15px;
  padding-bottom: 15px;
  border-color: #d9d4d2
  
  
  
  
}

.left-links {
  text-align: right;
  padding-left: 340px;
  display: inline;
  
  
}
.style {
  color:  #d9d4d2;
  display: inline;
}

a {
  margin-left: 30px;
  margin-right: 30px;
  color:black ;
  font-size: 17px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
  display: inline-block;
  
}

header{
  margin-top: 20px;
  
}

hr {
margin-top: 55px;
}

.scrollmenu {
  margin-left: 50px;
  margin-top: 20px;
  display: inline-block;
  overflow: auto;
  position: sticky;
 box-sizing: border-box;
  white-space: nowrap;
  background-attachment: scroll;
}


.icons-name {
  margin-left: 60px;
  margin-top: 0px;
  font-size: 17px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

p {
  display: inline;
  margin-left: 12px;
  margin-right: 50px;
}

.menu {
  margin-top: 10px;
}


